@import url("http://fonts.googleapis.com/css?family=IM+Fell+DW+Pica");

.chat {
  display: block;
  overflow-y: scroll;
  overflow-x: hidden;
  background: #eee;
  height: 85%;
}

#chatbox{
  overflow-y: scroll;
}
.chat .message {
  display: flex;
  margin: 5px 0 15px 5px;
  max-height: 5vw;
  text-align: left;
  padding-bottom: 5px;
  /* font-size: 22vw; */
}
.chat .message.me img {
  order: 2;
  margin: 0 5px 0 3px;
}
.chat .message.me div {
  order: 1;
  padding: 0 8px 0 10px;
}
.chat .message.me div p {
  float: right;
}
.chat .message.me div:before {
  position: relative;
  float: right;
  content: '';
  margin: 7px -8px 0 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 0 8px 8px;
  border-color: transparent transparent transparent #fff;
}
.chat .message img {
  display: block;
  order: 1;
  margin: 0 10px 0px 0;
  height: 100%;
  width: auto;
  max-height: 30px;
  border-radius: 50%;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}
.chat .message div {
  display: block;
  flex: 1;
  order: 2;
}
.chat .message div p {
  display: inline-block;
  margin: 0;
  width: auto;
  padding: 8px 10px 8px 10px;
  background: #fff;
  word-wrap: break-word;
  font-family: 'Basic', sans-serif;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  font-size: 1vw;
}
.chat .message div:before {
  position: relative;
  float: left;
  content: '';
  margin: 7px 0 0 -8px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 8px 8px 0;
  border-color: transparent #fff transparent transparent;
}
/*
* The styles to setup this scene
*/
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


#device {
  margin: -50px auto 0 auto;
  padding: 20px 20px 40px 20px;
  width: 350px;
  height: 100%;
  border-radius: 10px;
  border-bottom: 5px solid #222f3d;
  background: #34495e;
}
#device #size {
  -webkit-appearance: none;
  margin: 15px 0 0 0;
  width: 100%;
  height: 10px;
  vertical-align: middle;
  border-radius: 5px;
  background-color: #46627f;
  outline: none;
}
#device #size::-moz-range-track {
  margin: 15px 0 0 0;
  width: 100%;
  height: 10px;
  vertical-align: middle;
  border-radius: 5px;
  background-color: #46627f;
  outline: none;
}
#device #size::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  height: 20px;
  width: 20px;
  background-color: #4f6f8f;
  border-radius: 50%;
}
#device #size::-moz-range-thumb {
  -moz-appearance: none;
  height: 20px;
  width: 20px;
  background-color: #4f6f8f;
  border-radius: 50%;
}
.track {
  margin: 15px 0 0 0;
  width: 100%;
  height: 10px;
  vertical-align: middle;
  border-radius: 5px;
  background-color: #46627f;
  outline: none;
}
.thumb {
  height: 20px;
  width: 20px;
  background-color: #4f6f8f;
  border-radius: 50%;
}
#drag {
  position: absolute;
  margin: 50px 0 0 -10px;
  padding: 5px 10px;
  line-height: 20px;
  text-align: center;
  font-size: 10px;
  font-family: 'Basic'; 
  sans-serif;  color: #fff;
  border-radius: 5px;
  border-bottom: 2px solid #217dbb;
  background: #3498db;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}
#drag:after {
  content: '';
  position: absolute;
  top: -20px;
  left: 10px;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #3498db transparent;
}
#preview {
  display: none;
  margin: -100px auto 0 auto;
  padding: 0;
  width: 350px;
  height: 500px;
}
#preview .chat {
  background: transparent;
  overflow: hidden;
  overflow-y: hidden;
}
#preview .chat #text {
  color: #fff;
  font-family: 'Basic', sans-serif;
  font-size: 10px;
}
@media (max-height: 400px) {
  #device {
    display: none;
  }
  #preview {
    display: block;
  }
}

#input{
    width: 100%;
    height: 10%;
    overflow: auto;
    position: absolute;
    right: 2px;
    font-family: 'Basic', sans-serif;
    border: 2px solid black;
}

.outterChatBox{
    position: absolute;
    right: 0;
    top: 5%;
    float: right;
    width: 25%;
    height: 95%;
}

#presenceBar{
  height: 5%;
  background: #eee;
  border-bottom: 1px solid black;


}