.countdown {

}
.countdown.style-1 div {
  margin-left: 1rem;
  margin-right: 1rem;
}
.countdown.style-1 div span {
  display: block;
}
.countdown div {
  font-size: 5rem;
  font-weight: 100;
  display: inline-block;
}
.countdown div span {
  font-weight: 300;
  color: #777;
  font-size: 1rem;
}
