.countdown {

}
.countdown.style-1 div {
  margin-left: 2rem;
  margin-right: 2rem;
}
.countdown.style-1 div span {
  display: block;
}
.countdown div {
  font-size: 2rem;
  font-weight: 100;
  display: inline;
}
.countdown div span {
  font-weight: 50;
  font-size: 2rem;
}
