.countdown {
	padding-bottom: 5vw;
}
.countdown.style-1 div {
  margin-left: 1vw;
  margin-right: 1vw;
}
.countdown.style-1 div span {
  display: block;
}
.countdown div {
  font-size: 3vw;
  font-weight: 100;
  display: inline;
}
.countdown div span {
  font-weight: 50;
  font-size: 1vw;
}
